
/CortexCommandModManager.suo
/CortexCommandModManager/CortexCommandModManager.csproj.user
/CortexCommandModManager.suo
/CortexCommandModManager/CortexCommandModManager.csproj.user
/CortexCommandModManager/obj
/CortexCommandModManager/bin